# Copia este archivo como .env y completa tus credenciales locales
# NUNCA subas el archivo .env a Git

DB_URL=jdbc:mysql://localhost:3306/invextrack_db?createDatabaseIfNotExist=true
DB_USER=root
DB_PASSWORD=tu_contrasena_aqui
